<div>
    <canvas #field [height]="fieldDimensions" [width]="fieldDimensions" [style.background]="bgColor" style="border: 1px solid black; float: left; margin: 10px;"></canvas>
    <input id="nickName" *ngIf="gameStarted === false" autofocus="autofocus" type="text" placeholder="Navn" (change)="setNickName($event)">

    <div *ngIf="gameStarted === false">
    <label id="hard">Svær</label>

    <div id="speed" style="width: 100px;">
    <input type="range" id="reversedRange" max="10" min="1" [(ngModel)]="snake.speed">
    <p style="text-align: center">{{snake.speed}}</p>
    </div>

    <label id="easy">Let</label>
    </div>

    <h3 id="currentScore">Score: {{score}}</h3>
    <app-high-score style="float: left; margin: 10px;" [highScores]="highScores"></app-high-score>
</div>